/*ACCC CSS*/
/*scrollbar styles*/
::-webkit-scrollbar{
width: 10px;
height: 10px;
background: #676767;
}

::-webkit-scrollbar-thumb {
						/* Barre */
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(27,27,27), inset 0 0 0 6px rgb(27,27,27);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px #dc6b1d, inset 0 0 0 6px #dc6b1d;}
::-webkit-scrollbar-thumb:horizontal {					/* Barre du bas */
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 9px;
	-webkit-border-bottom-left-radius: 5px 9px;
}

/*Generic Classes*/
.uppercase{
	text-transform: uppercase;
}

.modal.huge-modal{
	    max-height: 85% !important;
}

.modal.huge-modal.modal-fixed-footer {
    padding: 0;
    height: 100% !important;
}

.left-zero{
	left: 0% !important;
}

#alert-picto:hover{
		transition-duration: 0.3s;
		opacity: 0.6;
		cursor: pointer;
}
#alert-picto-new-courrier:hover{
		transition-duration: 0.3s;
		opacity: 0.6;
		cursor: pointer;
}

.pointer{
	cursor:pointer !important;
}

.white-accc-background{
	background-color: white !important;
}

.huge-margin-top{
	margin-top: 370px !important;
}

.accc-back-color{
	background: orange !important;
}

.accc-back-dark-color{
	background: #B27504 !important;
}

.text-12{
	font-size: 12px !important;
}

.min-line-height{
	line-height: 29px !important;
}
.accc-back-color-alt{
	background: #B27504 !important;
}
.reduced-icon{
	width: 67%;
	position: relative;
	left: 6%; 
}

.absolute{
	position: absolute !important;
}

.reduced-icon-card{
	width: 22%;
}

.bold{
	font-weight: bold;
}
.accc-color{
	color: orange !important;
}

.accc-light-stripe-orange{
	background: #FAECD2 !important;
}

.accc-light-stripe-green{
	background: #055b13 !important;
}

.accc-color-alt{
	color: #055b13 !important;
}

.tiny-icon{
	font-size: 1.4rem !important;
}

.tiny-block-icon{
	display: inline-block !important;
	padding: 3px;
	color: #133f52;
	background: white;
	border: 2px solid #133f52;
	border-radius: 5px;
	margin:5px 5px !important;
}

.tiny-block-icon:hover
{
	transition-duration: 0.3s;
}

.dmp-main-back{
/*background-color: #133f52 !important;*/
background-color: #16495F !important;
}

.dmp-light-back{
  background-color: rgba(19, 63, 82, 0.16);
}

.dmp-main-back-2{
	background-color: #06222d !important;
}

.dmp-main-back-3{
	background-color: #c9d1d8 !important;
}

.dmp-main-back-4{
	background-color: #395C6B !important;
}

.dmp-main-color{
color: #133f52 !important;
}

.dmp-main-color-2{
	color: #395C6B !important;ul
}

.dmp-red-back{
	background-color: #820900;
}

.dmp-green-back{
	background-color: #316e34;
}

.dmp-orange-back{
	background-color: #dc6b1d !important;
}

.dmp-orange-text{
	color: #dc6b1d !important;
}

.dmp-main-back-alt{
	background-color: #4a4e50 !important;
}

.dmp-main-back-darkened{
	background-color:#0e3140;
}

.accc-alert-stripe{
	background: #965742 !important;
}

.accc-treating-stripe{
	background: #D8D8D8 !important;
}

.accc-green-treat-stripe{
	background: #D9FFB5 !important;
}

.i.ion-power.small.game-main-color{
	position: relative;
}

.alert-size-number{
	font-size: 35px !important;
}

.accc-top-icon{
	position: relative;
	top: 15px;
}

.accc-orange-treat-stripe{
	background: #C79203 !important;
}

.accc-grey-treat-stripe{
	background: #636363 !important;
}

.accc-white-stripe{
	background: white !important;
}

.accc-back-color-alt{
	background: #055b13 !important;
}
.accc-back-color-green{
	background: #055b13 !important;
}

.accc-row-padding{
	padding: 30px;
}

.accc-bottom-padding{
	padding-bottom: 30px !important;
}

.accc-bottom-margin{
	margin-bottom: 20px !important;
}

.accc-notIcon-rm{
margin-right: 150px;
}


.accc-right-barrow{
	border-right: 2.6px solid white;
}


.hidden{
	display: none;
}


.zero-margin{
	margin: 0 !important;
}

.zero-padding{
	padding: 0 !important;
}

.loaderAjax{
	display: none;
}

.accc-huge-icon{
	font-size: 125px;
}

/*Font weight*/

.light-mixed-text{
	font-weight: 500;
}

.light-padding{
	padding: 2px !important;
}

.medium-cell-row{
	width: 140px !important;
}

/*sizing-Box-Classes*/
.acc-huge-top-margin{
	margin-top: 230px;
}

.acc-medium-top-margin{
	margin-top: 25px;
}

.acc-big-top-margin{
	margin-top: 40px !important;
}

.acc-small-top-margin{
	margin-top: 10px !important;
}

.accc-small-bottom-margin{
	margin-bottom: 25px !important;
}

.accc-small-rl-margin{
	margin: 50px 45px !important;
}

.accc-small-row-padding{
	padding: 10px !important;
}

.accc-tiny-row-padding{
	padding: 15px !important;
}

.accc-small-perc-top-margin{
	margin-top: 2% !important;
}

.dmp-cell-tiny-margin{
	margin-right: 5px;
}

/*Form Basic Input styles*/
/* label unfocus border color */
.input-field input{
	border-bottom: 1.7px solid #133f52 !important;
	color: #133f52 !important;
}
/* label unfocus color */
.input-field label {
     color: #133f52;
   }

/* label focus color */
.input-field input:focus + label {
     color: #133f52 !important;

}
 /* label underline focus color */
 .input-field input:focus {
     border-bottom: 1.7px solid #133f52 !important;
     box-shadow: 0 1.7px 0 0 #133f52 !important;
   }

/* valid color */
.input-field input.valid {
     border-bottom: 1.7px solid #133f52 !important;
     box-shadow: 0 1.7px 0 0 #133f52 !important;
  }
/* invalid color */
.input-field input.invalid {
     border-bottom: 1.7px solid red !important;
     box-shadow: 0 1.7px 0 0 red !important;
   }
/*Prefix active color*/
.input-field .prefix.active {
     color: #133f52;
   }
.input-field .prefix{
	color: grey;
}

/*Dmp Darkened input fields*/

.input-field.darkened-input-field input{
	border-bottom: 1.7px solid #133f52 !important;
	background: grey;
	color: #133f52 !important;
}
/* label unfocus color */
.input-field.darkened-input-field label {
     color: #133f52;
   }

/* label focus color */
.input-field.darkened-input-field input:focus + label {
     color: #dc6b1d;
}
 /* label underline focus color */
 .input-field.darkened-input-field input:focus {
 	color: white !important;
     border-bottom: 1.7px solid #dc6b1d !important;
     box-shadow: 0 1.7px 0 0 #dc6b1d !important;
     background: #dc6b1d;
   }

/* valid color */
.input-field.darkened-input-field input.valid {
     border-bottom: 1.7px solid #133f52 !important;
     box-shadow: 0 1.7px 0 0 #133f52 !important;
  }
/* invalid color */
.input-field.darkened-input-field input.invalid {
     border-bottom: 1.7px solid red !important;
     box-shadow: 0 1.7px 0 0 red !important;
   }
/*Prefix active color*/
.input-field.darkened-input-field .prefix.active {
     color: #dc6b1d;
   }
.input-field.darkened-input-field .prefix{
	color: grey;
}
/*Dmp Login form styles*/
/* label unfocus border color */
form.login-dmp-form .input-field input{
	border-bottom: 1.7px solid white;
	color: white;
	background: white;
}
/* label unfocus color */
form.login-dmp-form .input-field label {
     color: white;
   }

/* label focus color */
form.login-dmp-form .input-field input:focus + label {
     color: orange;

}
 /* label underline focus color */
 form.login-dmp-form .input-field input:focus {
     border-bottom: 1.7px solid orange;
     background:orange;
     box-shadow: 0 1.7px 0 0 orange;
   }

/* valid color */
form.login-dmp-form .input-field input.valid {
     border-bottom: 1.7px solid green;
     box-shadow: 0 1.7px 0 0 green;
  }
/* invalid color */
form.login-dmp-form .input-field input.invalid {
     border-bottom: 1.7px solid red;
     box-shadow: 0 1.7px 0 0 red;
   }
/*Prefix active color*/
form.login-dmp-form .input-field .prefix.active {
     color: orange !important;
   }
form.login-dmp-form .input-field .prefix{
	color: white;
}


/*Dash Form Style*/
/* label unfocus border color */
form.dash-form .input-field input{
	border-bottom: 2.5px solid grey !important;
	color: #133f52 !important;
}

form.dash-form .input-field input:focus{
	color: #133f52 !important;
}

form.dash-form .input-field input.custom-side:focus{
	color: #133f52 !important;
	background-color: white;
	transition: 0.3s;
}

/* label unfocus color */
form.dash-form .input-field label {
     color: #133f52;
   }

/* label focus color */
form.dash-form .input-field input:focus + label {
     color: #133f52 !important;

}
 /* label underline focus color */
form.dash-form .input-field input:focus {
     border-bottom: 1.7px solid #133f52 !important;
     box-shadow: 0 1.7px 0 0 #133f52 !important;
   }

/* valid color */
form.dash-form .input-field input.valid {
     border-bottom: 1.7px solid green !important;
     box-shadow: 0 1.7px 0 0 green !important;
  }
/* invalid color */
form.dash-form .input-field input.invalid {
     border-bottom: 1.7px solid red !important;
     box-shadow: 0 1.7px 0 0 red !important;
   }
/*Prefix active color*/
form.dash-form .input-field .prefix.active {
     color: #133f52 !important;
   }
form.dash-form .input-field .prefix{
	color: grey !important;
}

/*File form styles*/
form.dash-form i.file-input-label{
	font-size: 2.5rem;
}

form.dash-form  .file-field .avatar-input-button{
		padding: 7px 29px;
	background: orange;
}


form.dash-form input.file-path{
	color: #133f52;
}


form.dash-form input[type=file].valid + input.file-path.validate{
    border-bottom: 2px solid #133f52;
    box-shadow: 0 1px 0 0 #133f52;

}

form.dash-form input[type=file].invalid + input.file-path.validate{
    border-bottom: 2px solid red;
    box-shadow: 0 1px 0 0 red;

}

/*Textarea form styles*/
form.dash-form .input-field textarea{
	border-bottom: 2.5px solid #133f52 !important;
	color: grey !important;
}

form.dash-form .input-field textarea:focus{
	color: #133f52 !important;
}
/* label unfocus color */
form.dash-form .input-field label {
     color: grey;
   }

/* label focus color */
form.dash-form .input-field textarea:focus + label {
     color: #133f52 !important;

}

form.dash-form .input-field textarea.valid {
     border-bottom: 1.7px solid #133f52 !important;
     box-shadow: 0 1.7px 0 0 #133f52 !important;
  }
/* invalid color */
form.dash-form .input-field textarea.invalid {
     border-bottom: 1.7px solid red !important;
     box-shadow: 0 1.7px 0 0 red !important;
   }


button.submit-button{
    background: white;
    border-radius: 3px;
    border: 2px solid grey;
    color: 
    padding: 0px 45px;
    margin-top: 25px;	
}

button.submit-button:hover{
	cursor: pointer;
	background: transparent;
	color: white !important;
	font-weight: bold;
}

a.submit-button{
    background: orange;
    border-radius: 3px;
    border: 2px solid orange;

    padding: 0px 45px;
    margin-top: 25px;	
}

a.submit-button:hover{
	cursor: pointer;
	background: transparent;
	color: orange;
}


/*Login*/
body.backGreen{
	background: green;
}

p.logo-wrapper-circle{
position: relative;
width: 160px;
height: 148px;
border-radius: 50%;
background: transparent;
overflow: hidden;
-webkit-filter:50%;
-moz-filter: 50%;
}

p.logo-wrapper-circle img{
	position: relative;
	width: 160px;
}




/*Custom accc dash panel*/

div.card-content.admin-accc-general-card{
	height: 208px !important;
}


a.deconnect-plateform-link{
	background: #055b13;
	color: orange;
	border: 2.5px solid white;
	border-radius: 5px;
	font-weight: bold;
}

a.deconnect-plateform-link:hover{
	background: transparent !important;
	transition-duration: 0.3s;
	color: white !important;
	font-weight: bold;
	cursor: pointer;
}

p.logo-wrapper-circle-account{
    margin: 0px 0px 0px 27px;
    /* border: 2px solid orange; */
    display: inline-block;
    position: relative;
    width: 125px;
    height: 115px;
    border-radius: 50%;
    background: transparent;
    overflow: hidden;
}

p.logo-wrapper-circle-account img{
		position: relative;
	width: 125px;
}

div#side-control-panel{
	height: 1200px !important;
	padding: 20px 0px 0px 0px;
}


.col.l10.m12.s12.accc-row-padding{
	padding: 55px !important;
	background: white !important;
}


/*Suggest Panel*/
span#add-new-suggest:hover{
cursor: pointer;
opacity: 0.8;
}


.gg-title{   
	font-weight: bolder;
    font-size: 27px;
    color: #fff;	
}
.logoutButton:hover{
	background: black;
	transition-duration:0.3s;


}

.col.l2.m12.s12.center.black.fixed{
	padding: 0;
}


div#game-gift-variable-content{
	/*height: 784px;*/
/*	padding-right: 0 !important;
*/	overflow-y: auto;
	overflow-x:auto;
	padding: 0 !important;
}

div#game-gift-client-variable-content{
	height: 730px;
	overflow-y: scroll;
	overflow-x:hidden;
	padding-right: 0;
}

p.avatar-game-gift{
	position: relative;
	display: inline-block;
    width: 170px;
    height:170px;
	border-radius: 50%;
	background: transparent;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    border:5.5px solid orange;
}

p.avatar-game-gift img{
	position: relative;
	
}

p.big-icon-wrapper{
	position: relative;
	display: inline-block;
    width: 139px;
	border-radius: 50%;
	background: orange;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    border:5.5px solid orange;
}

.clicked{
	background-color: white !important;
}

p.big-icon-wrapper i{
	position: relative;
	
}


p.accc-wrapper-icon{
	position: relative;
	display: inline-block;
    width: 100px;
    height:100px;
	border-radius: 50%;
	background: orange;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    border:5.5px solid orange;
}

p.accc-wrapper-icon i{
	position: relative;
	
}

p.accc-wrapper-button{
	    margin-right: 40px;
    margin-left: 55px;		
	position: relative;
	display: inline-block;
    width: 70px;
	border-radius: 8%;
	background: orange;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    border:5.5px solid orange;
}

p.accc-wrapper-button i{
	position: relative;
	
}


span.gg-li-a-text{
	    font-size: 20px;
    margin-left: 15px;
    color: white;
    font-weight: bold;
}

ul#game-gift-menu li{
	position: relative;
	line-height: 15px;
	margin: 5px 0px;
}

ul#game-gift-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul#game-gift-menu li a i{
    font-size: 20px;
    padding-right: 15px;
}

ul#sidebar-menu li a span {
	display: inline-block;
}

ul#game-gift-menu li:hover{
	border-left: 3px solid white;
	background: #232323;
	
}


ul#game-gift-menu li.actived{
    border-left: 3px solid orange;
	background: #133f52;

}

ul#game-gift-menu li.actived:hover{
    border-left: 3px solid #133f52;
	background: transparent;
	transition-duration: 0.3s;

}

ul#game-gift-menu li.error-actived{
    border-left: 3px solid red;
	background: red;

}

ul#game-gift-menu li.abort-actived{
    border-left: 3px solid red;
    color: white;
	background: red;
}



ul#game-gift-menu li.error-actived:hover{
    border-left: 3px solid red;
    transition-duration: 0.3s;
	background: transparent;

}

ul#game-gift-menu li.correct-actived{
    border-left: 3px solid green;
	background: green;

}

ul#game-gift-menu li.correct-actived:hover{
    border-left: 3px solid green;
    transition-duration: 0.3s;
	background: transparent;

}

p.share-icons-content i{
	margin: 8px 6px; 
}

p.share-icons-content i:hover{
	color: #ff0087;
	transition-duration:0.4s;
	cursor: pointer;
}

div#mainModal{
	width: 28%;
}

div#mainModal .modal-footer{
	background: #ff0087;
	text-align: center;
}



footer.page-footer.black.zero-margin.white-text{
	padding: 0;
}


footer.page-footer.zero-margin.white-text div{
	font-size: 16px;
}

/*Info Gen.html*/
.card-action.accc-back-color-alt.wrapper-value-card{
	padding: 5px;
}

span.game-main-color.bold.game-big-item-account{
	margin: 0px 15%;
	font-weight: bold;
}

a.free-game-subscribe{

    padding: 5px;
    font-size: medium;
    font-weight: bold;
    color: white;
    background: #ff0087;
}


a.free-game-subscribe:hover{
	background: white;
	color: #ff0087;
}

p.bold.title-card-alt{
	padding: 15px 0px;
	font-weight: bold;
}

/*Profile gg.html*/
button.modify-gg-button{
	margin: 22px 0px; 
	padding: 0px 25px;
}

button.modify-gg-button{
	background: green;
	color: white;
}

button.modify-gg-button:hover{
	background: white;
	color: #ff0087;
}

button.modify-gg-button:last-child{
	background: red;
	color: white;
}


div.info-input-file
{
	border-radius: 5px;
	border:2.2px solid orange;
	margin-top: 65px !important;
}

/*About-game-gift.php*/

div.about-game-gift{
	border-radius: 5px;
	border:3.5px solid orange;
	padding: 15px;
}


/*Product purchase-game-gift.php*/

div.col.s12.m4.l4.product-desc-wrapper{
	margin: 17px 0px;
}

span.gg-name-product-wrapper{
	font-size: smaller;
}

.card.small.gg-product-card{
	height: 440px;
	
}



span.card-title.activator.gg-name-product-wrapper.bold{
	font-size: 18px;
	font-weight: bold;
}

a.purchase-gg-product-button,a.purchase-gg-product-button-2{
	background: #ff0087;
	color: white;
}

a.purchase-gg-product-button-2{
	margin-top:55px;
}

a.purchase-gg-product-button:hover,a.purchase-gg-product-button-2:hover{
	background: white;
	color: #ff0087;
	font-weight: bold;
}

p.game-main-color.price-gift.bold {
    font-size: 35px;
    color: #ff0087;
}

span.card-title.activator.gg-name-product-wrapper.bold{
	line-height: 60px;
	font-size: 17px;
}

.card-content.gg-product-name-wrapper{
	padding: 5px;	
}
/*ParcoursGamer.php*/

table.MyTable tfoot tr td:not(:first-child){
	text-align: center;
}

.table-foot-elm-padding{
	margin-left: 41px;
}

p.info-Suivi{
	border-radius: 5px;
	border:4px solid #ff0087;
	padding: 20px;
	margin-top: 40px;
}

/*Product Description.php*/
div#product-description-wrapper{
	margin-top: 9%;
}

.light-black-bottom-border{border-bottom: 1px solid grey;}
.light-black-both-border{
	border: 1px 0px 1px 0px;
	border-color: grey;
}

span.product-price.medium-size-breadcrumb.right{
	font-size: 55px;
	color: #ff0087;
}

.small-right-left-margin{
	margin: 0px 3px;
}

a#confirm-purchase-caller{
	margin-top: 22px;
}

a#confirm-purchase-caller:hover{
	color: #ff0087;
	font-weight: bold;
	background: white !important;
}

div.col.s6.product-desc{
	padding: 17px;
	border-radius: 5px;
	background: black;
	color: white;
}

.light-bottom-line{
	border-bottom: 3px solid #ff0087;
}

div#confirmPurchase{
	width: 25%;
}

/*AuthAdmin Css*/
/*Notification floating Box*/
div#game-notifications-wrapper {
    color: white;
    background: #055b13;
    border-radius: 20px 0px 0px 20px;
    font-weight: 400;
    right: 10px;
    position:absolute;
   padding: 0;
}

h5.Notification-headers{
	border-bottom: 1.5px solid white;
	padding:9px;
}

div.col.s12.notification-elment{
	font-size: 13px;
}

div.notification-elment	{
	border-bottom: 1.5px solid white;
	padding: 3px;
}


div.notification-elment:hover{
	cursor: pointer;
	opacity: 0.6;
}

div.notification-elment{
	border-top: 1.5px solid white;
}

p.notif-content{
    text-align: left;
    padding-left: 13px;
    margin: 0;
    font-weight: 500;
}

i.icon-notif{
	position: relative;
	top: 5px;
}

/*Floating messages box*/
.float-box-messages{
	margin-top: 15px;
}

span.badg-unread {
    font-size: 0.8rem;
    color: #fff;
    background-color: red;
    border-radius: 2px;
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: #757575;
     position: absolute; 
    right: 15px;
    box-sizing: border-box;
}

.admin-notifications{
	color: #ffffff;
	font-weight: bold;
    font-size: 18px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin: 0;
border-bottom: 1.5px solid white;
    background: #FF0087;
    text-align: center;
}

div#side-informations-parent-wrapper{
	padding: 0;
	background:#ff0087;
	border-radius: 0px 0px 0px 25px;
}

#side-informations-wrapper{
	margin-top: 22px;
}

.img-member-connect-status{
	float: left
}

span.details-member{
	font-size: 13px;
	display: block;

}

.col.s12.admin-desc-notification{
	border-bottom: 1.5px solid white;
    padding-top:15px;
    padding-bottom: 15px;
    text-align:center;
}


/*	Avatar winner*/
p.avatar-game-gift-tag{
	position: relative;
	display: inline-block;
    width: 80px;
    height:80px;
	border-radius: 50%;
	background: transparent;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    	


}

i.ion-document-text.white-text.small.btn.waves-effect.trash-button.get-join-piece {
    display: block;
    left: 20%;
}

p.avatar-game-gift-tag img{d
	position: relative;
	width: 100px;
}

/*Last Gamer Info*/
.card-content.last-gamers{
	height: 203px;
	overflow: scroll;
	overflow-x:hidden;
	overflow-y:auto; 
}



div.mostBuyArticle img{
	width: 108px;
}

.tendance-stats-info{
	background:white !important;
}

.tendance-content{
	font-size: 22px !important;
}

.legend-cube{
	border-radius: 5px;
   
    height: 25px;
    display: block;
    margin:10px 7px;
}

ul#previsions-tickets{
	    margin-top: 20%;
	border: 3.5px solid #FF0087;
	border-radius:7px;
	padding:10px;
}

/*Addinga new member*/

.adding-Member-trigger:hover{
	cursor:pointer;
}

.trash-button{
background-color:grey;	
    display: inherit;
    margin: 0px 6px;
}

.trash-button:hover{
background:red;
}

.path-down-courrier{
	display: inherit;
	margin: 0px 6px;
}

.alter-member-button{
	background-color: grey;
}

.alter-member-button:hover{
	background-color: green;
}

form#new-admin-registering.hidden{
	display:none;
}

.loader-trash{
	display:none;
}

.alter-member-loader{
	display:none;
}

/*Gamer manage Info*/
div#gamer-info-table{
	overflow:auto;
	height:430px;
}

div#gamer-info-table tr:hover{
cursor: pointer;
opacity: 0.7;
}

form#new-Attribution-registering{
	margin-top: 30px !important;
}

.hidden{
	display:none;
}

.adding-passage-trigger:hover{cursor:pointer;}
.adding-attribution-trigger:hover{cursor:pointer;}


form.adminForm .input-field textarea {
     border-bottom: 1px solid #FF0087;
     box-shadow: 0 1px 0 0 #FF0087;
     color:#FF0087;
   }

  form.adminForm .input-field textarea.invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
     color:#FF0087;
   }


  form.adminForm .input-field textarea.valid {
     border-bottom: 1px solid green;
     box-shadow: 0 1px 0 0 green;
     color:#FF0087;
   }

form.adminForm textarea:focus:not([readonly]) {
	color: #FF0087;
	     border-bottom: 1px solid #FF0087;
     box-shadow: 0 1px 0 0 #FF0087;
}


form.adminForm textarea:focus:not([readonly]) + label{
	color:#FF0087;
}

.trash-gamer-button{
background-color:grey;	
}

.trash-gamer-button:hover{
background:red;
}

/*Article Manage*/
.adding-new-article-trigger:hover{
cursor:pointer;
}

#article-table tbody tr:hover{
	cursor:pointer;
}

.trash-article-button{
	background-color:grey;	
}

.trash-article-button:hover{
		background-color:red;	
}
/*Commande manager*/

.trash-shipping-button{
	background-color:grey;	
}
.trash-shipping-button:hover{
	background-color:red;	
}

.alter-status-button{
background-color:grey;
}

.alter-status-button:hover{
	background-color:green;	
}
/*Attribution manager*/
.trash-attrib-button{
background-color:grey;
}
.trash-attrib-button:hover{
	background-color:red;	
}
.alter-attribution-button{
background-color:grey;
}

.alter-attribution-button:hover{
	background-color:green;	
}

div#gamer-attribution-table{
	overflow:auto;
	height:340px;

}

/*Manage passage*/
.trash-passage-button{
background-color:grey;
}
.trash-passage-button:hover{
	background-color:red;	
}
.alter-passage-button{
background-color:grey;
}

.alter-passage-button:hover{
	background-color:green;
}

/*Admin dropdown accoun menu*/
ul#admin-account-dropdown{
	border-radius: 5px;
	width: auto !important;
	background: #ff0087 !important;
}
ul#admin-account-dropdown li{
	width: 150px;
}

ul#admin-account-dropdown li{
	background: transparent !important;
}

ul#admin-account-dropdown li a.account-choice{
	color: white !important;
	font-weight: bold !important;
	font-size: 14px !important;
	margin: 5px 0px;
}


div#preloader-wrapper-imputation {
    border-radius: 2%;
    top: 300px;
    position: fixed;
    z-index: 5000;
    left: 290px;
}

ul#admin-account-dropdown li a.account-choice:hover{
	border-radius: 5px;
	border-bottom: 3px solid white;
	background-color: transparent;
}

a.btn-floating:hover{
	background: orange;
}

a.btn-floating.btn-large.game-back-color.admin-floating-button{
	width:40px;
	height:40px;
}

i.floating-icon-sub{
	position: relative;
	top: 6px
}

i.ion-ios-game-controller-a.floating-icon-main.admin{
	font-size: 40px !important;
}

a.refresh-assets{
	position: fixed;
	display: inline-block;
    width: 65px;
    height:65px;
	border-radius: 50%;
	background: transparent;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    top: 69px; 
    left: 190px;
}

a.refresh-assets:hover{
	cursor:pointer;
	opacity: 1;
	transition-duration:0.3s;
}


a.refresh-assets i{
	opacity: 0.3;
	position: relative;
	font-size: 49px;
	left:22%;
}

a.refresh-assets i:hover{
opacity: 1;
}

a.refresh-assets.resizing-hidder-side-panel{
	transition-duration: 0.3s;
	left:-9px;
}

a.back-panel{
	position: fixed;
	display: inline-block;
    width: 48px;
    height:48px;
	border-radius: 50%;
	background: grey;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    top: 69px; 
    left: 150px;
}

a.back-panel:hover{
	cursor:pointer;
	transition-duration: 0.3s;
}


a.back-panel i{
	opacity: 0.3;
	top: -3%;
	position: relative;
	left:10%;
}

a.back-panel i:hover{
	opacity: 0.9;
}


a.next-panel{
	position: absolute;
	display: inline-block;
    width: 48px;
    height:48px;
	border-radius: 50%;
	background: grey;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    top: 69px; 
    left: 465px;
}

a.next-panel:hover{
	cursor:pointer;
	opacity: 0.7;
	transition-duration: 0.3s;
}


a.next-panel i{
	top: -3%;
	position: relative;
	left:10%;
}


p.hide-left-panel{
	z-index: 100;
	position: fixed;
	display: inline-block;
    width: 45px;
	border-radius: 50%;
	background: grey;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    top: 55px; 
    right: 235px;
}

p.hide-left-panel:hover{
	cursor:pointer;
	opacity: 0.7;
	transition-duration: 0.3s;
}

p.show-left-panel
{
	transition-duration: 0.3s;
	position: fixed;
	display: inline-block;
    width: 45px;
	border-radius: 50%;
	background: grey;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    top: 55px; 
    right: 20px;
}

p.show-left-panel i{

	left:22%;
}

p.show-left-panel:hover{
	cursor:pointer;
	opacity: 0.7;
	transition-duration: 0.3s;
}



p.hide-left-panel i{

	left:22%;
}

p.hide-left-panel.resizing-hidder-side-panel{
	transition-duration: 0.3s;
	left:7px;
}

a.replace-transparent-assets1{
	transition-duration: 0.3s;
	left:335px;
}

a.replace-transparent-assets2{
	transition-duration: 0.3s;
	left:290px;
}

p.hide-left-panel-med-small-device{
	position: fixed;
	display: inline-block;
    width: 35px;
    height:35px;
	border-radius: 50%;
	background: grey;
	overflow: hidden;
	-webkit-filter:50%;
    -moz-filter: 50%;
    right: 16px; 
    top: 55px;

}

p.hide-left-panel-med-small-device:hover{
	cursor:pointer;
}


p.hide-left-panel-med-small-device i{
	position: relative;
	left:22%;
}

p.hide-left-panel-med-small-device.resizing-hidder-top-panel{
	left:7px;
}
/*push messages admin*/
.push-read-loader{
	display:none;
}

.push-adding-trigger:hover{
cursor:pointer;
}

.dest-push{
	margin-right: 15px;
	padding-left: 24px !important;
}

/*General Destop*/
.choice-general:hover{
background: #133f52 !important;
transition-duration:0.3s;
color: white !important;
}

/*Customs For dmp*/
.side-nav-menu-item:hover
{
color: white !important;
background-color: #133f52 !important;
}

.none-decoration{
	text-decoration: none !important;
}

.search-doctors-results
{
	background-color:white;
	position:relative;
	color: #133f52;
	width:295px;
	border-radius: 0 0 0 12px;
	overflow: hidden;
	overflow-y: scroll;
	height:200px;
	top:-16px;
}

.img-list-doctors{
	height: 50px;
	float: left;
}

.item-element{
	font-weight: bold !important;
	color: #133f52 !important;
}

.dmp-sub{
	background: #e0dcfb !important;
}

.info-dmp-container{
	padding: 30px !important;
}

.row.extensiveTable {
    height: 170px;
    overflow: auto;
}

p.dmp-info-bubble.bold {
    width: 500px;
    text-align: left;
    border: 2px dashed blue;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px !important;
}

.table-space{
margin-bottom: 40px;
}

.pointer-opaq{
	cursor: pointer;
}

.pointer-opaq:hover{
	opacity: 0.7;
	transition-duration: 0.3s ease-out;
}

.lh-1{
	line-height: 1px;
}

.dropdown-content li > span{
	
	font-size: 15px !important;
}

.dmp-submit-button
{
	margin-top: 15px;
	
 background: #133f52;
 color: white;
 border:2.5px solid #133f52;
 font-weight: bold;
 border: none;
 border-radius: 5px;
}

.dmp-submit-button:hover
{
	background: white;
	border:2.5px solid #133f52;
	transition-duration: 0.1s;
	color: #133f52;
}


.dmp-button
{
	 margin-top: 25px;
	
	 background: orange;
	 color: white;
	 border:2.5px solid #133f52;
	 font-weight: bold;
	 border: none;
	 border-radius: 5px;
}

.dmp-button:hover
{
	background: white;
	/*border:2.5px solid #133f52;*/
	transition-duration: 0.1s;
	color: #133f52;
}

.dmp-next-button
{
	margin-top: 25px;
	
 background: #e91e63;
 color: white;
 font-weight: bold;
 border: none;
 border-radius: 5px;
}

.dmp-next-button:hover
{
	background: white;
	border:2.5px solid #e91e63;
	transition-duration: 0.3s;
	color: #e91e63;
}

.dmp-reset-button
{
 margin-top: 15px;
 
 background: red;
 color: white;
 font-weight: bold;
 border: none;
 border-radius: 5px;
}

.dmp-reset-button:hover
{
	background: white;
	border:2.5px solid red;
	transition-duration: 0.3s;
	color: red;
}

.item-establishment-result{
	color: #e91e63  !important;
}

.info-dmp-scrollable-container
{
	height: 750px;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}

.put-top-border
{
	border-top:1px solid white !important;
}

/*Customs Flash-Messages*/
div.message {
	text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;
    
}

div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}

.selected-visit-item{
	background: orange !important;
	color: white !important;
}

p.warning-box {
    border: 2px dashed red;
    padding: 10px;
    font-weight: bold;
}

/*Floating box doctor*/
.selected-floating-box-item{
	background: #ffe4c4 !important;
}

li.reason-item.actived{
  background: #deb887;
  /*color: white;*/
}


.glossy-transition-icon
{
	transition-duration: 0.3s;
	background: white !important;
}

.glossy-transition-icon i{
	color: #133f52 !important;
}

/*Custom Modal Box*/
.custom-modal{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 100%;
    width: 55%;
    height: 600px !important;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

.custom-modal.modal-fixed-footer .modal-footer {
    border-top: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    bottom: 0;
    }

.custom-modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

.custom-card-search-result{
	padding-left: 58px !important;
	position: relative;
	/*height:120px; */
	border-bottom:none !important;
	background:#0e3140 !important;
	margin-bottom:20px !important;
}


.custom-card-search-result:hover{
	cursor: pointer ;
	background:#dc6b1d !important;
	transition-duration: 0.3s;
}

.custom-card-search-result i
{
    position: absolute;
    left: 5px;
    top: 20%;
    font-size: 3.4rem;
}

.custom-modal.modal-fixed-footer .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.light-green-bill{
	background-color: #dbffce !important;
}
.light-red-bill{
background-color: #ffcfcb !important;
}

.light-orange-bill{
	background-color: #ffcb8c !important;
}

.light-blue-bill-1{
	background-color: rgba(21, 117, 158, 0.20) !important;
}

.light-yellow-bill-1{
	    background-color: rgba(255, 253, 122, 0.39) !important;
}

.light-grey-bill{
	background-color: #cccccc !important;
}

.more-light-green-bill-color{
	color:#527654;
}

.more-light-red-bill-color{
	color:#bc716c;
}

.notification-back-color1{
	background-color: #115F4C;
}

.notification-back-color2
{
	background-color: #5F1F2A;
}

.facturation-info-table.bordered>thead>tr, .facturation-info-table.bordered>tbody>tr{
border-bottom: 1px dashed #000000 !important;
}

.floating-info-table.bordered>tbody>tr {
    border-bottom: 1px dashed #295c72 !important;
}

table.floating-striped>tbody>tr:nth-child(odd){
	background-color: #295c72;
}


.dmp-grey-text{
	color: #3b3b58 !important;
}

.dmp-grey-back{
	background: #c9d1d8;
}

.dmp-grey-2-text{
	color: #c9d1d8 !important;
}

/*Date Picker Dmp*/
.picker__date-display {
background-color: #133f52 !important;
}

.picker__weekday-display{
	background-color: #133f52 !important;
}

.picker__close, .picker__today {
    color: #bd9600 !important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #bd9600;
    color: #ffffff;
}

 .tabs .indicator{
	background-color: #dc6b1d !important;
}

.close-floating-box-trigger{
	color: white;
}

.close-floating-box-trigger:hover{
	cursor: pointer;
	color: #dc6b1d;
	transition-duration: 0.3s;
}

.reduced-floating-box-trigger{
	color: white;
}

.reduced-floating-box-trigger:hover{
	cursor: pointer;
	color: #dc6b1d;
	transition-duration: 0.3s;
}

.darkened-tabs .active{
	background-color: #dc6b1d !important;
}

.floating-img-invoice{
	width: 50px;
}

.floating-img-invoice:hover{
	cursor: pointer;
}

.hoverable-line-floating-box{
	transition-duration: 0.3s;
	background-color: #dc6b1d !important;
	cursor: pointer;
}

.pagination.floating li.active{
		background-color: #dc6b1d;
}

.pagination.floating li a{
		color: white;
}


.floating-card-selected{
	background-color: rgba(84, 136, 158, 0.13);
	border-left: 3px solid #dc6b1d;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease;
}